body{
    height: 95vh;
    width: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-transform: uppercase;
    font-family: 'Cambria';
    color: green;
    margin-bottom: 0;
}

.reload{
    border: 3px solid green;
    border-radius: 20%;
    margin: 10px;
    font-size: 14px;
    font-family: 'Cambria';
    font-weight: bold;
    color: green;
    cursor: pointer;
}

canvas{
    border: 3px solid green;
    border-radius: 5%;
}